redis==5.0.0
rq==1.15.1
SQLAlchemy==2.0.19
Flask==2.2.3
Flask-Cors==4.0.0
flask-restx==1.1.0
Werkzeug==2.2.3
PyJWT==2.8.0
gunicorn==21.2.0
numpy==1.24.3
opencv-python-headless==4.8.0.76
psycopg2==2.9.9